.dashboard-component {
  margin: 0 0 30px;
  position: relative;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 0;
}

.dashboard-component:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}

.dashboard-component:after {
  clear: both;
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}

.dashboard-component-header {
  display: block;
  height: 34px;
  padding: 0;
  border: 1px solid #383838;
  background: #404040;
  color: #fff;
  cursor: move;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  line-height: normal;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
}

.dashboard-component-header h2 {
  font-family: "Open Sans", Arial, Helvetica, Sans-Serif, serif;
  height: 100%;
  display: inline-block;
  font-size: 14px;
  position: relative;
  line-height: 34px;
  font-weight: 400;
  letter-spacing: 0;
  margin: 0 0 0 10px;
  float: left;
  width: 180px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.dashboard-component-header .header-icon {
  display: block;
  width: 30px;
  height: 32px;
  position: relative;
  float: left;
  font-size: 111%;
  line-height: 32px;
  text-align: center;
  margin-right: -10px;
}

.dashboard-component .dashboard-component-content {
  float: left;
  width: 100%;
  position: relative;
  font-size: 13px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
  border: 1px solid;
  border-top-style: none;
  border-right-color: #CCC;
  border-bottom: 2px #CCC;
  border-left-color: #CCC;
  padding: 13px 13px 0;
  overflow: visible;
  background-color: #fff;
  zoom: 1;
}

.dashboard-component .dashboard-component-content .body {
  display: block;
  padding: 0;
  min-height: 100px;
  position: relative;
  margin: -13px -13px 0;
}

.dashboard-component table.dashboard-component-table {
  display: table;
  border-spacing: 0;
  background-color: transparent;
  clear: both;
  max-width: none;
  border-collapse: separate;
  border: none;
  margin-bottom: 0;
  border-bottom-width: 0;
  width: 100%;
}

.dashboard-component table.dashboard-component-table thead tr {
  background-color: #eee;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#fafafa));
  background-image: -webkit-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  background-image: -moz-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  background-image: -ms-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  background-image: -o-linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  background-image: -linear-gradient(top, #f2f2f2 0, #fafafa 100%);
  font-size: 12px;
}

.dashboard-component table.dashboard-component-table thead tr th {
  line-height: 1.42857143;
  text-align: left;
  vertical-align: bottom;
  padding: 6px;
  border: 1px solid #ddd;
  border-top-width: 0;
  background-color: #eee;
  border-left: none;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.dashboard-component table.dashboard-component-table thead tr th:first-child {
  border-left: none;
}

.dashboard-component table.dashboard-component-table thead tr th:last-child {
  border-right: none;
}

.dashboard-component table.dashboard-component-table thead tr th.input {
  padding: 6px;
}

.dashboard-component table.dashboard-component-table thead tr:first-child th.input {
  border-top: 0;
}

.dashboard-component table.dashboard-component-table thead tr:last-child th.input {
  border-bottom: 0;
}

.dashboard-component table.dashboard-component-table thead tr th.input:first-child {
  border-left: none;
}

.dashboard-component table.dashboard-component-table thead tr th.input:last-child {
  border-right: none;
}

.dashboard-component table.dashboard-component-table thead tr:first-child th.input input {
  display: inline-block;
  font: inherit;
  margin: 0;
  height: 32px;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #555;
  background: #fff none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  width: 100%;
  font-weight: 400;
  vertical-align: middle;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.dashboard-component table.dashboard-component-table thead tr th.sorting {
  padding: 8px 18px 8px 9px;
  background-color: #eee;
}

.dashboard-component table.dashboard-component-table thead tr th.sorting:first-child {
  border-left: none;
}

.dashboard-component table.dashboard-component-table thead tr th.sorting:last-child {
  border-right: none;
}

.dashboard-component table.dashboard-component-table tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.dashboard-component table.dashboard-component-table tbody tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.dashboard-component table.dashboard-component-table tbody > tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.dashboard-component table.dashboard-component-table tbody tr td {
  display: table-cell;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  line-height: 1.42857143;
  vertical-align: top;
  border: 1px solid #ddd;
  padding: 8px 10px;
  border-left-width: 0;
  border-bottom-width: 0;
}

.dashboard-component table.dashboard-component-table tbody tr td:first-child {
  border-left: none;
}

.dashboard-component table.dashboard-component-table tbody tr td:last-child {
  border-right: none;
}

.dashboard-component table.dashboard-component-table tbody tr:last-child td {
  border-bottom: 1px solid #ccc;
}

.dashboard-component .dashboard-component-footer {
  background: #fafafa;
  font-size: 11px;
  overflow: hidden;
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px #fff;
  -moz-box-shadow: inset 0 1px #fff;
  box-shadow: inset 0 1px #fff;
}

.dashboard-component .dashboard-component-footer .dashboard-component-paginator {
  float: right;
  margin: 0;
}

.dashboard-component .dashboard-component-footer .dashboard-component-paginator ul {
  display: inline-block;
  padding-left: 0;
  border-radius: 2px;
  margin: 2px 0;
  white-space: nowrap;
  float: right;
}

.dashboard-component .dashboard-component-footer .dashboard-component-paginator ul li {
  color: #fff;
  display: inline;
}

.dashboard-component .dashboard-component-footer .dashboard-component-paginator ul li a,
.dashboard-component .dashboard-component-footer .dashboard-component-paginator ul li span {
  position: relative;
  float: left;
  line-height: 1.42857143;
  text-decoration: none;
  color: #3276b1;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
  padding: 5px 10px;
  font-size: 12px;
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
  -moz-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .05);
  -webkit-tap-highlight-color: rgba(169, 3, 41, .5);

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  cursor: pointer;
}

.dashboard-component .dashboard-component-footer .dashboard-component-paginator ul li > a:focus,
.dashboard-component .dashboard-component-footer .dashboard-component-paginator ul li > a:hover,
.dashboard-component .dashboard-component-footer .dashboard-component-paginator ul li > span:focus,
.dashboard-component .dashboard-component-footer .dashboard-component-paginator ul li > span:hover {
  color: #214e75;
  background-color: #eee;
  border-color: #ddd;
}

.dashboard-component .dashboard-component-footer .dashboard-component-paginator ul li.disabled a,
.dashboard-component .dashboard-component-footer .dashboard-component-paginator ul li.disabled a:focus,
.dashboard-component .dashboard-component-footer .dashboard-component-paginator ul li.disabled a:hover,
.dashboard-component .dashboard-component-footer .dashboard-component-paginator ul li.disabled span,
.dashboard-component .dashboard-component-footer .dashboard-component-paginator ul li.disabled span:focus,
.dashboard-component .dashboard-component-footer .dashboard-component-paginator ul li.disabled span:hover {
  color: #999;
  background-color: #fff;
  border-color: #ddd;
  cursor: default;
}

.dashboard-component .dashboard-component-footer .dashboard-component-paginator ul li:first-child > a,
.dashboard-component .dashboard-component-footer .dashboard-component-paginator ul li:first-child > span {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.dashboard-component .dashboard-component-footer .dashboard-component-paginator ul li:last-child > a,
.dashboard-component .dashboard-component-footer .dashboard-component-paginator ul li:last-child > span {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}
